<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>WEBSITE-HELPLINE</title>
</head>
<body> <h3>HELPLINE</h3>
<p>This is Helpline site</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qYf6NizM2Rc?si=p5YRkBN5qdPppp4t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<button><a href="/">Go to Home</a> </button>>
</body>
</html>