<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<center> <h3>WEBSITE</h3>
<p>I completed mine Under Graduation in the stream of Computer Application<br>
    at Achariya Arts and Science College (which is affiliated with Pondicherry University)<br>
    in the Academic year of 2017 - 2020.</p>

<form action="/track" method="post">
    <p>Enter URL</p><input type="url" name="user_url" placeholder="Enter URL">
    <input type="Submit" value="TRACK">
    <button><a href="*/helpline">HELPLINE</a></button>

</form>
</center>
</html>